# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
logs/*.log
logs/*.zip

# VS Code
.vscode/

# Node modules (frontend dependencies — huge folder, never commit)
frontend/node_modules/

# Vite build output
frontend/dist/

# OS files
.DS_Store
Thumbs.db
frontend/README.md
frontend/public/icons.svg
frontend/src/assets/vite.svg
frontend/public/favicon.svg
